{
    "name": "ParticleActor",
    "components": {
        "basic_particles": {
            "type": "ParticleSystem",
            "frames_between_bursts": 1,
            "duration_frames": 60,
            "emit_radius_max": 0.0,
            "start_scale_min": 4.0,
            "start_scale_max": 4.0,
            "end_color_r": 150,
            "end_color_g": 50,
            "end_color_b": 10,
            "end_color_a": 255,
            "start_speed_min": 0.04,
            "start_speed_max": 0.04,
            "end_scale": 0.0
        }
    }
}
